[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
    --input-box-color: #f3f3f3;
    --input-box-text-color: #000000;
    --input-placeholder-color: #595959;
    --toggle-background-color: #000000;
    --toggle-foreground-color: #ffffff;
    --tasksBox-color: #f3f3f3;
    --taskBox-text-color: #000000;
    --checkBox-color: #000000;
    --checkBox-border-color: #000000;
    --remove-icon: url("/close-black.png")
}

body {
    padding: 0;
    margin: 0;
}

[data-theme="dark"] {
    --background-color: #010409;
    --text-color: #fffafa;
    --input-box-color: #0C1017;
    --input-box-text-color: #f2f2f2;
    --input-placeholder-color: #bfbfbf;
    --toggle-background-color: #fffafa;
    --toggle-foreground-color: #000000;
    --tasksBox-color: #0C1017;
    --taskBox-text-color: #fffafa;
    --checkBox-color: #ffffff;
    --checkBox-border-color: #ffffff;
    --remove-icon: url("/close-white.png")
}