.Home {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    transition: background-color 250ms ease-in-out;
    overflow-y: hidden;
    position: relative;
}

.title h1 {
    margin-top: 2em;
    color: var(--text-color);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
    .title h1 {
        margin-top: 3em;
        font-size: 2.7em;
        font-weight: 600;
    }

    .Home {
        overflow-y: hidden;
    }
}

@media (min-width: 1024px) {
    .Home {
        overflow-y: hidden;
    }
}
