.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 100%;
    box-sizing: border-box;
  }
  
  .inputBox {
    border: none;
    background-color: var(--input-box-color);
    width: 100%;
    max-width: 75%;
    height: 4em;
    border-radius: 5px;
    padding-left: 1em;
    outline: none;
    color: var(--input-box-text-color);
    transition: background-color 250ms ease-in-out;
  }
  
  .inputBox::placeholder {
    font-style: italic;
    color: var(--input-placeholder-color);
  }

  .inputBox::selection {
    background: lightgray;
  }


  /* Tablet */
@media (min-width: 768px) {
  .inputContainer {
    margin-top: 3em;
    width: 100%;
  }

  .inputBox {
    width: 75%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .inputContainer {
    width: 100%;
  }

  .inputBox {
    width: 30%;
    height: 4.5em;
  }
}