.taskItem {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    width: 100%; /* Ensure taskItem takes full width of its container */
    height: 2em;
    justify-content: flex-start;
}

.taskItem input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--checkBox-border-color);
    border-radius: 0.15em;
    transform: translateY(0.3em);
    display: grid;
    place-content: center;

    flex-shrink: 0; /* Prevents shrinking */
    margin-right: 10px; /* Space between checkbox and label */

}

.taskItem input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--checkBox-color);
}

.taskItem input:checked::before {
    transform: scale(1);
}

.strikeThrough {
    text-decoration: line-through;
    opacity: 0.5;
}

.taskItem label {
    margin-top: 0.4em;
    margin-left: 0.3em;
    font-size: 0.9rem;
    flex-grow: 1; /* Allows the label to take up available space */
    transition: opacity 0.5s ease;
    white-space: normal; /* Allow text to wrap */
    overflow-x: hidden; /* Hide horizontal overflow */
    word-wrap: break-word; /* Break long words to prevent overflow */
}

.taskRemove {
    background-image: var(--remove-icon); /* Ensure this variable is defined with the correct icon path */
    background-color: transparent; /* Remove any default background color */
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: center;
    width: 24px; /* Set a specific width */
    height: 24px; /* Set a specific height */
    border: none; /* Remove default button border */
    cursor: pointer; /* Changes cursor on hover */
    outline: none; /* Remove focus outline */
    background-size: 12px 12px; /* Adjust this to fit your desired size */
    margin-top: 0.5em;
    transition: background-color 250ms ease-in-out;
    margin-right: 3em;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.taskItem:hover .taskRemove {
    opacity: 1; 
    visibility: visible;
}
