.tasksContainer {
    display: flex;
    justify-content: center;
}

.tasksBox {
    width: 20em;
    height: 35em;
    background-color: var(--tasksBox-color);
    margin-top: 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: var(--taskBox-text-color);
    transition: background-color 250ms ease-in-out;
    max-height: 35em;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Tablet */
@media (min-width: 768px) {
    .tasksBox {
        width: 35em;
        height: 45em;
        max-height: 45em;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .tasksBox {
        width: 42.5em;
        height: 55em;
        max-height: 55em;
    }
}
